* {
  margin:0;
}
  
body {
  margin: 0;
  font-family: 'Pangolin', cursive;
  text-align: left;
}

h1 h2 h3 {
  font-family: 'Fredericka the Great', cursive;
}

h1 {
  color:#F3410E;
  font-size: 60px;
  text-align: center;
}
h2 {
  font-size: 40px;
}
cite, p{
  font-size: 20px;
}

code {
  font-family: 'Pangolin', cursive;
}
